body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #6c757d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-dark {
  background-color: #121212;
}

.theme-light {
  background-color: #fff;
}
nav svg {
  font-size: 25px;
}

.nav-dark {
  background-color: #1e1e30;
}

.nav-light {
  background-color: #f6f6f7;
}

.purple {
  color: #9673b9;
}

.orange {
  color: #ffa500;
}

.blue {
  color: #007bff;
}

.green {
  color: #28a745;
}

.red {
  color: #ff073a;
}

.grey {
  color: #6c757d;
}

a,
a:hover {
  color: #007bff;
}
